<%= render 'public/sessions/list' %>

<main>
<div class="container pt-5 pb-4">
 <div class="row">
  <div class="col-md-4">
    
    
    <% if customer_signed_in? && @customer == current_customer %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<h1><%= @customer.last_name %></h1>

<% if customer_signed_in? && @customer == current_user %>
  <%= link_to "プロフィール編集", edit_customer_path(current_customer %>
<% else %>
   <h2>マイページ</h2>
  
    <h3>会員登録情報</h3>
     <table>
      <tr>
       <th>会員ID</th>
       <th>会員氏名</th>
       <th>会員氏名かな</th>
       <th>郵便番号</th>
       <th>住所</th>
       <th>電話番号</th>
  </tr>
  <% @customers.each do |customers| %>
  <tr>
   <td><%= customer.id %></td>
   <td><%= link_to customer.full_name, customer_path(customer.id) %></td>
   <td><%= customer.full_name_kana %></td>
   <td><%= customer.postal_cord %></td>
   <td><%= customer.addresses %></td>
   <td><%= customer.telephone_number %></td>
  </tr>
  <% end %>
   
    
</div>
</div>
</div>