<%= render 'admin/sessions/list' %>
<div class="container">
 <div class="row">
  <div class="col-md-2">
　　<div class="p-3 mb-2 bg-light text-dark">商品一覧</div>
　</div>
  <div class="col-md-4 p-4 mb-2">
   <%= link_to "新商品登録",  new_admin_item_path %>
  </div>
 </div>

 <div class="row">
    <div class="col-md-10">
      <table class="table">
        <thead>
          <tr>
           <th>商品ID</th>
           <th>商品名</th>
    　　　　　　<th>商品説明</th>
    　　　　　　<th>商品価格</th>
    　　　　　　<th>商品ジャンル</th>
  　　　　　　　</tr>
  　　　</thead>
   　　<tbody>
      <% @items.each do |item| %>
       <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, edit_admin_item_path(item.id) %></td>
        <td><%= item.introduction %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %> </td>
       </tr>
      <% end %>
      </tbody>
     </table>
    </div>
   </div>

</div>