<header>
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">

  <%= link_to admin_root_path, class: 'navbar-brand text-light p-2' do %>
   <i class="fas fa-portrait"></i>NaganoCakeApp_admin
  <% end %>
   <div class="collapse navbar-collapse"  id="navbarSupportedContent">
   <ul class="navbar-nav ml-auto">

    <% if admin_signed_in? %>

     <%= link_to admin_items_path, class: 'nav-link text-light p-2' do %>
      <i class="fas fa-portrait"></i>商品一覧
     <% end %>

     <%= link_to admin_genres_path, class: 'nav-link text-light p-2' do %>
      <i class="fas fa-link"></i>ジャンル一覧
     <% end %>

     <%= link_to admin_customers_path, class: 'nav-link text-light p-2' do %>
      <i class="fas fa-link"></i>会員一覧
     <% end %>

     <%= link_to admin_root_path, class: 'nav-link text-light p-2' do %>
      <i class="fas fa-link"></i>注文履歴一覧
     <% end %>

     <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light p-2' do %>
      <i class="fas fa-sign-out-alt"></i>ログアウト
     <% end %>

    <% elsif %>

     <%= link_to new_admin_session_path, class: 'nav-link text-light p-2' do %>
      <i class="fas fa-sign-in-alt"></i>ログイン
     <% end %>

   <% end %>

    <form class="d-flex">
     <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
   　<button class="btn btn-outline-success" type="submit">Search</button>
    </form>
   </ul>
  </div>
 </div>
 </nav>
</header>