<%= render 'public/sessions/list' %>

<div class="container">

 <div class="row">
  <div class="col-md-2">
　　<div class="p-3 mb-2 bg-light text-dark">商品詳細</div>
　</div>
 </div>


<div class="row">
 <div class="col-md-3">
   <%= image_tag @item.get_image, size: '200x200' %>
 </div>
 <div class="col-md-6">
  <p class="h4"><%= @item.name %></p><br>
  <%= @item.introduction %><br>
  <p class="h3 mt-5">￥<%= @item.price %>(税込)</p>
 </div>
</div>
<div class="row">
 <div class="col-md-3"></div>
 <div class="col-md-2 mb-5">
 <%= form_with model: @cart_items, url: cart_items_path, method: :post do |f| %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], { include_blank: '個数選択'} %>
  </div>
  <div class="col-md-2">
  <%= f.submit "カートに入れる", class: 'btn btn-success' %>
 <% end %>
</div>
</div>
</div>